/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:6262e673cb561a6a652876b66656ed00:362bd9a3fd7e064a5411153819e13472:72b7af83b823a1e7e7df7df177b18943$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(btnBattery.png);}

.btnBattery0001 {width:81px; height:76px; background-position: -0px -0px}
.btnBattery0002 {width:81px; height:76px; background-position: -81px -0px}
.btnBattery0003 {width:81px; height:76px; background-position: -162px -0px}
